body{
    background-color: #f8ebcb;
    font-family: 'Poppins', sans-serif;





}

.box-footer .btn-primary{
    background-color: #1a1414;
    display: inline-block;
    width: 100%;
    height: 43px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.box-footer .btn-primary:hover {
    background-color: #8371fd;
}

.container .row .card{
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgb(0 0 0 / 27%);
}




