<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link th:href="@{~/css/student.css}" rel="stylesheet">
<!--    for nav bar-->
    <link th:href="@{~/css/nav.css}" rel="stylesheet">
    <link th:href="@{~/css/newnav.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>

<div class="container2">
    <nav>
        <ul>
            <li><a href="#" class="logo">
                <img th:src="@{~/img/logo.svg}" width="162" height="50" alt="Eduwebogo">
            </a></li>
            <li>     <a th:href="@{/dashboard}">
                <i class="fas fa-desktop"></i>
                <span class="nav-item">Dashboard</span>
            </a></li>
            <!--      <li><a href="#">-->
            <!--        <i class="fas fa-comment"></i>-->
            <!--        <span class="nav-item"></span>-->
            <!--      </a></li>-->
            <li><a th:href="@{/students}">
                <i class="fas fa-user"></i>
                <span class="nav-item">Details</span>
            </a></li>
            <li><a th:href="@{/departments}">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">Department</span>
            </a></li>
            <li><a th:href="@{/noticeList}">
                <i class="fas fa-bell"></i>
                <span class="nav-item">Notice</span>
            </a></li>

            <li><a th:href="@{/logout}" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Log out</span>
            </a></li>
        </ul>
    </nav>

<br>
<br>
<div class = "container" style="padding-top: 80px">
    <div class = "row">
<!--        box form with heading css-->
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h2 class = "text-center" style="padding-top: 40px; font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #151111;" >Add Students
                </h2>
<!--            <h6 class="text-center" style="color: #151111;-->
<!--    font-weight: 400;-->
<!--    font-size: 0.75rem;-->
<!--    justify-items: center;">Students-->
<!--                /Add Students</h6>-->
            <div class = "card-body" style="padding-top: 2px">
                <form th:action="@{/students}" th:object = "${student}" method="POST">
                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small">  First Name </label>
                        <input
                                type = "text"
                                name = "firstName"
                                th:field = "*{firstName}"
                                class = "form-control"
                                autocomplete="off"
                                required
                                placeholder="Enter First Name"
                        />
                    </div>

                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small">  Last Name </label>
                        <input
                                type = "text"
                                name = "lastName"
                                th:field = "*{lastName}"
                                class = "form-control"
                                autocomplete="off"
                                required
                                placeholder="Enter Last Name"
                        />
                    </div>

                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small">  Email </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                autocomplete="off"
                                required
                                placeholder="Enter  Email"
                        />
                    </div>

                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small">  Address </label>
                        <input
                                type = "text"
                                name = "address"
                                th:field = "*{address}"
                                autocomplete="off"
                                required
                                class = "form-control"
                                placeholder="Enter Adress"
                        />
                    </div>
                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small">Department </label>
                        <input
                                type = "text"
                                name = "department"
                                autocomplete="off"
                                required
                                th:field = "*{department}"
                                class = "form-control"
                                placeholder="Enter Department"
                        />
                    </div>

                    <div class = "box-footer" style="padding-top: 8px">
                        <button type="submit"  class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- jquery for menubar for closing and expanding -->
<script>
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })
</script>
</body>
</html>