<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link th:href="@{~/css/student.css}" rel="stylesheet">
<!--    for nav bar-->
    <link th:href="@{~/css/newnav.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>




<!--<div class="wrapper">-->
<!--    <div class="section">-->
<!--        <div class="top_navbar">-->
<!--            <div class="hamburger">-->
<!--                <a href="#">-->
<!--                    <i class="fas fa-bars"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    <div class="sidebar">-->
<!--        <div class="profile">-->
<!--            <img th:src="@{~/img/logo.svg}" width="162" height="50" alt="Eduwebogo">-->

<!--        </div>-->
<!--        <ul>-->

<!--            <li>-->
<!--                <a th:href="@{/dashboard}">-->
<!--                    <span class="icon"><i class="fas fa-desktop"></i></span>-->
<!--                    <span class="item">My Dashboard</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a th:href="@{/students}">-->
<!--                    <span class="icon"><i class="fas fa-user"></i></span>-->
<!--                    <span class="item">Details</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a th:href="@{/departments}">-->
<!--                    <span class="icon"><i class="fas fa-th"></i></span>-->
<!--                    <span class="item">Department</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a th:href="@{/logout}">-->
<!--                    <span class="icon"><i class="fas fa-arrow-right-from-bracket"></i></span>-->
<!--                    <span class="item">Logout</span>-->
<!--                </a>-->
<!--            </li>-->

<!--        </ul>-->
<!--    </div>-->

<!--</div>-->


<div class="container2">
    <nav>
        <ul>
            <li><a href="#" class="logo">
                <img th:src="@{~/img/logo.svg}" width="162" height="50" alt="Eduwebogo">
                <span class="nav-item">Admin</span>
            </a></li>
            <li>     <a th:href="@{/dashboard}">
                <i class="fas fa-menorah"></i>
                <span class="nav-item">Dashboard</span>
            </a></li>
            <!--      <li><a href="#">-->
            <!--        <i class="fas fa-comment"></i>-->
            <!--        <span class="nav-item"></span>-->
            <!--      </a></li>-->
            <li><a th:href="@{/students}">
                <i class="fas fa-database"></i>
                <span class="nav-item">Details</span>
            </a></li>
            <li><a th:href="@{/departments}">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">Department</span>
            </a></li>
            <!--            <li><a href="#">-->
            <!--                <i class="fas fa-cog"></i>-->
            <!--                <span class="nav-item">Setting</span>-->
            <!--            </a></li>-->

            <li><a th:href="@{/logout}" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Log out</span>
            </a></li>
        </ul>
    </nav>
<br>
<br>
<div class = "container" style="padding-top: 80px">
    <div class = "row">
        <!--        box form with heading css-->
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h2 class = "text-center" style="padding-top: 50px; font-size: 2.1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #151111;" >Add Department
              </h2>
            <h6 class="text-center"
                    style="color: #151111;
    font-weight: 400;
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
    ">  Department
               / Add Department</h6>

            <div class = "card-body">
                <form th:action="@{/departments}" th:object = "${department}" method="POST">
                    <div class ="form-group" style="font-family: 'Poppins', sans-serif">
                        <label> Department Name </label>
                        <input
                                type = "text"
                                name = "Name"
                                th:field = "*{Name}"
                                autocomplete="off"
                                required
                                class = "form-control"
                                placeholder="Enter Department's Name"
                        />
                    </div>

                    <div class ="form-group" style="font-family: 'Poppins', sans-serif">
                        <label> Department Credit </label>
                        <input
                                type = "text"
                                name = "Credit"
                                th:field = "*{Credit}"
                                autocomplete="off"
                                required
                                class = "form-control"
                                placeholder="Enter credit"
                        />
                    </div>


<!--                    <div class ="form-group">-->
<!--                        <label>  Stock </label>-->
<!--                        <input-->
<!--                                type = "text"-->
<!--                                name = "Stock"-->
<!--                                th:field = "*{Stock}"-->
<!--                                class = "form-control"-->
<!--                                placeholder="Enter  Amount"-->
<!--                        />-->
<!--                    </div>-->

                    <div class = "box-footer">
                        <button type="submit"  class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<script>
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })
</script>
</body>
</html>