<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link th:href="@{~/css/student.css}" rel="stylesheet">
    <link th:href="@{~/css/nav.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
<div class="menu-btn">
    <i class="fas fa-bars"></i>
</div>
<div class="side-bar">
    <div class="close-btn">
        <i class="fas fa-times"></i>
    </div>
    <div class="menu">
        <div class="item"><a href="#"><i class="fas fa-desktop"></i>Dashboard </a></div>
        <div class="item"><a th:href="@{/students}"><i class="fas fa-user"></i>Details </a></div>
        <div class="item"><a th:href="@{/departments}"><i class="fas fa-th"></i>Department</a></div>
        <div class="item"><a th:href="@{/logout}"><i class="fas fa-arrow-right-from-bracket"></i>logout</a></div>
    </div>
</div>

<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center" style="padding-top: 40px; font-size: 1.6rem;
    font-weight: 600;
    color: #151111;"> Update Student</h1>
            <div class = "card-body" style="padding-top: 2px">
                <form th:action="@{/students/{id} (id=${student.id})}" th:object = "${student}" method="POST">
                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small">  First Name </label>
                        <input
                                type = "text"
                                name = "firstName"
                                th:field = "*{firstName}"
                                class = "form-control"
                                placeholder="Enter Student First Name"
                        />
                    </div>

                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small">  Last Name </label>
                        <input
                                type = "text"
                                name = "lastName"
                                th:field = "*{lastName}"
                                class = "form-control"
                                autocomplete="off"
                                required
                                placeholder="Enter Student Last Name"
                        />
                    </div>

                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small"> Email </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                autocomplete="off"
                                required
                                placeholder="Enter Student Email"
                        />
                    </div>
                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small"> Address </label>
                        <input
                                type = "text"
                                name = "address"
                                th:field = "*{address}"
                                class = "form-control"
                                autocomplete="off"
                                required
                                placeholder="Enter Student's Address"
                        />
                    </div>
                    <div class ="form-group" style="margin-bottom: 0rem">
                        <label style="font-size: small"> Department </label>
                        <input
                                type = "text"
                                name = "department"
                                th:field = "*{department}"
                                class = "form-control"
                                autocomplete="off"
                                required
                                placeholder="Enter Student's Department"
                        />
                    </div>

                    <div class = "box-footer" style="padding-top: 8px">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.menu-btn').click(function(){
            $('.side-bar').addClass('active');
            $('.menu-btn').css("visibility","hidden")
        });

        $('.close-btn').click(function(){
            $('.side-bar').removeClass('active');
            $('.menu-btn').css("visibility","visible")
        });
    });
</script>
</body>
</html>