<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<!--    &lt;!&ndash;-->
<!--      - primary meta tag-->
<!--    &ndash;&gt;-->
<!--    <title>Educa- Student Management System</title>-->
<!--    <meta name="title" content="EduWeb - Educa- Student Management System">-->

<!--    &lt;!&ndash;-->
<!--      - favicon-->
<!--    &ndash;&gt;-->
<!--    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">-->

<!--    &lt;!&ndash;-->
<!--      - custom css link-->
<!--    &ndash;&gt;<link th:href="@{~/css/styles.css}" rel="stylesheet">-->
<!--    <script th:src="@{~/js/script.js}"></script>-->



<!--    &lt;!&ndash;-->
<!--      - google font link-->
<!--    &ndash;&gt;-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"-->
<!--            rel="stylesheet">-->

<!--    &lt;!&ndash;-->
<!--      - preload images-->
<!--    &ndash;&gt;-->
<!--&lt;!&ndash;    <img th:src="@{~/img/img1.png}"&ndash;&gt;-->
<!--&lt;!&ndash;    <img th:src="@{~/img/img1.png}" alt="" data-speed="-2" class="move">&ndash;&gt;-->
<!--    <link rel="preload" as="image" href="/img/hero-bg.svg">-->
<!--    <link rel="preload" as="image" href="/img/hero-banner-1.jpg">-->
<!--    <link rel="preload" as="image" thref="/img/hero-banner-2.jpg">-->
<!--    <link rel="preload" as="image" href="./img/hero-shape-1.svg">-->
<!--    <link rel="preload" as="image" href="./img/hero-shape-2.png">-->

<!--</head>-->

<!--<body id="top">-->

<!--&lt;!&ndash;-->
<!--  - #HEADER-->
<!--&ndash;&gt;-->

<!--<header class="header" data-header>-->
<!--    <div class="container">-->

<!--        <a href="#" class="logo">-->


<!--            <img th:src="@{~/img/logo.svg}" width="162" height="50" alt="Eduwebogo">-->
<!--        </a>-->

<!--        <nav class="navbar" data-navbar>-->

<!--            <div class="wrapper">-->
<!--                <a href="#" class="logo">-->
<!--                    <img th:src="@{~/img/logo.svg}" width="162" height="50" alt="EduWeb logo">-->
<!--                </a>-->

<!--                <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>-->
<!--                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>-->
<!--                </button>-->
<!--            </div>-->

<!--            <ul class="navbar-list">-->

<!--                <li class="navbar-item">-->
<!--                    <a href="#home" class="navbar-link" data-nav-link>Home</a>-->
<!--                </li>-->

<!--                <li class="navbar-item">-->
<!--                    <a href="#about" class="navbar-link" data-nav-link>About</a>-->
<!--                </li>-->



<!--                <li class="navbar-item">-->
<!--                    <a th:href="@{/login}" class="navbar-link" data-nav-link>login</a>-->
<!--                </li>-->

<!--            </ul>-->

<!--        </nav>-->


<!--        <div class="overlay" data-nav-toggler data-overlay></div>-->

<!--    </div>-->
<!--</header>-->





<!--<main>-->
<!--    <article>-->

<!--        &lt;!&ndash;-->
<!--          - #HERO-->
<!--        &ndash;&gt;-->

<!--        <section class="section hero has-bg-image" id="home" aria-label="home"-->
<!--                 style="background-image: url('./img/hero-bg.svg')">-->
<!--            <div class="container">-->

<!--                <div class="hero-content">-->

<!--                    <h1 class="h1 section-title">-->
<!--                        The Best Program to <span class="span">Enroll</span> for Storage-->
<!--                    </h1>-->

<!--                    <p class="hero-text">-->
<!--                        Record keep,update and edit your courses and student's data.-->
<!--                    </p>-->

<!--                    <a href="#" class="btn has-before">-->
<!--                        <span class="span">Use now</span>-->

<!--                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>-->
<!--                    </a>-->

<!--                </div>-->

<!--                <figure class="hero-banner">-->

<!--                    <div class="img-holder one" style="&#45;&#45;width: 270; &#45;&#45;height: 300;">-->
<!--                        <img th:src="@{~/img/img1.png}" alt="" data-speed="-2" class="move">-->
<!--                        <img th:src="@{~/img/hero-banner-1.jpg}" width="270" height="300" alt="hero banner" class="img-cover">-->
<!--                    </div>-->

<!--                    <div class="img-holder two" style="&#45;&#45;width: 240; &#45;&#45;height: 370;">-->
<!--                        <img th:src="@{~/img/hero-banner-2.jpg}" width="240" height="370" alt="hero banner" class="img-cover">-->
<!--                    </div>-->

<!--&lt;!&ndash;                    <img th:src="@{~/img/hero-shape-1.svg}" width="380" height="190" alt="" class="shape hero-shape-1">&ndash;&gt;-->

<!--                    <img th:src="@{~/img/hero-shape-2.png}" width="622" height="551" alt="" class="shape hero-shape-2">-->

<!--                </figure>-->

<!--            </div>-->
<!--        </section>-->





<!--        &lt;!&ndash;-->
<!--          - #CATEGORY-->
<!--        &ndash;&gt;-->

<!--        <section class="section category" aria-label="category">-->
<!--            <div class="container">-->

<!--                <p class="section-subtitle">Categories</p>-->

<!--                <h2 class="h2 section-title">-->
<!--                    Store <span class="span">Classes</span> For Easier Management.-->
<!--                </h2>-->

<!--                <p class="section-text">-->
<!--                    Keep track of the courses you provide.-->
<!--                </p>-->

<!--                <ul class="grid-list">-->

<!--                    <li>-->
<!--                        <div class="category-card" style="&#45;&#45;color: 170, 75%, 41%">-->

<!--                            <div class="card-icon">-->
<!--                                <img th:src="@{~/img/category-1.svg}" width="40" height="40" loading="lazy"-->
<!--                                     alt="Online Degree Programs" class="img">-->
<!--                            </div>-->

<!--                            <h3 class="h3">-->
<!--                                <a href="#" class="card-title">BSc Computing</a>-->
<!--                            </h3>-->

<!--                            <p class="card-text">-->
<!--                                Our computing degree is designed to produce graduates with a high level of knowledge across a variety of computing technologies.-->
<!--                            </p>-->

<!--&lt;!&ndash;                            <span class="card-badge">7 Courses</span>&ndash;&gt;-->

<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <div class="category-card" style="&#45;&#45;color: 351, 83%, 61%">-->

<!--                            <div class="card-icon">-->
<!--                                <img th:src="@{~/img/category-2.svg}" width="40" height="40" loading="lazy"-->
<!--                                     alt="Non-Degree Programs" class="img">-->
<!--                            </div>-->

<!--                            <h3 class="h3">-->
<!--                                <a href="#" class="card-title">BSc (Hons)-->
<!--                                    Ethical Hacking & Cybersecurity</a>-->
<!--                            </h3>-->

<!--                            <p class="card-text">-->
<!--                                On this course, students will have the opportunity to learn to identify and analyse the threats posed to modern information structures and develop the knowledge and skills to be able to advise a company on how to set up secure systems.-->
<!--                            </p>-->

<!--&lt;!&ndash;                            <span class="card-badge">4 Courses</span>&ndash;&gt;-->

<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <div class="category-card" style="&#45;&#45;color: 229, 75%, 58%">-->

<!--                            <div class="card-icon">-->
<!--                                <img th:src="@{~/img/category-3.svg}" width="40" height="40" loading="lazy"-->
<!--                                     alt="Off-Campus Programs" class="img">-->
<!--                            </div>-->

<!--                            <h3 class="h3">-->
<!--                                <a href="#" class="card-title">MSc Data Science</a>-->
<!--                            </h3>-->

<!--                            <p class="card-text">-->
<!--                                The overall aim of the MSc in Data Science and Computational  Intelligence is to Deliver advanced theoretical and practical subjects  across a range of specialist areas in data science and computational intelligence.-->
<!--                            </p>-->

<!--&lt;!&ndash;                            <span class="card-badge">8 Courses</span>&ndash;&gt;-->

<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <div class="category-card" style="&#45;&#45;color: 42, 94%, 55%">-->

<!--                            <div class="card-icon">-->
<!--                                <img th:src="@{~/img/category-4.svg}" width="40" height="40" loading="lazy"-->
<!--                                     alt="Hybrid Distance Programs" class="img">-->
<!--                            </div>-->

<!--                            <h3 class="h3">-->
<!--                                <a href="#" class="card-title">MSc Data Science and Computational Intelligence</a>-->
<!--                            </h3>-->

<!--                            <p class="card-text">-->
<!--                                The aim of  Computational  Intelligence is to Deliver advanced theoretical and practical subjects  across a range of specialist areas in data science and computational intelligence.-->
<!--                            </p>-->

<!--                            <span class="card-badge">8 Courses</span>-->

<!--                        </div>-->
<!--                    </li>-->

<!--                </ul>-->

<!--            </div>-->
<!--        </section>-->





<!--        &lt;!&ndash;-->
<!--          - #ABOUT-->
<!--        &ndash;&gt;-->

<!--        <section class="section about" id="about" aria-label="about">-->
<!--            <div class="container">-->

<!--                <figure class="about-banner">-->

<!--                    <div class="img-holder" style="&#45;&#45;width: 520; &#45;&#45;height: 370;">-->
<!--                        <img th:src="@{~/img/about-banner.jpg}" width="520" height="370" loading="lazy" alt="about banner"-->
<!--                             class="img-cover">-->
<!--                    </div>-->

<!--&lt;!&ndash;                    <img th:src="@{~/img/about-shape-1.svg}" width="360" height="420" loading="lazy" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                         class="shape about-shape-1">&ndash;&gt;-->

<!--                    <img th:src="@{~/img/about-shape-2.svg}" width="371" height="220" loading="lazy" alt=""-->
<!--                         class="shape about-shape-2">-->

<!--                    <img th:src="@{~/img/about-shape-3.png}" width="722" height="528" loading="lazy" alt=""-->
<!--                         class="shape about-shape-3">-->

<!--                </figure>-->

<!--                <div class="about-content">-->

<!--                    <p class="section-subtitle">About Us</p>-->

<!--                    <h2 class="h2 section-title">-->
<!--                        Over 10 Years in <span class="span">Data Storage</span> for easier Management-->
<!--                    </h2>-->

<!--                    <p class="section-text">-->
<!--                       Use our site to store, manage and upkeep your students, courses data with simple and minimalistic student management system.-->
<!--                    </p>-->

<!--                    <ul class="about-list">-->

<!--                        <li class="about-item">-->
<!--                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>-->

<!--                            <span class="span">Minimalistic navigation</span>-->
<!--                        </li>-->

<!--                        <li class="about-item">-->
<!--                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>-->

<!--                            <span class="span">No data loss</span>-->
<!--                        </li>-->

<!--                        <li class="about-item">-->
<!--                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>-->

<!--                            <span class="span">Lifetime Access</span>-->
<!--                        </li>-->

<!--                    </ul>-->

<!--                    <img th:src="@{~/img/about-shape-4.svg}" width="100" height="100" loading="lazy" alt=""-->
<!--                         class="shape about-shape-4">-->

<!--                </div>-->

<!--            </div>-->
<!--        </section>-->











<!--        &lt;!&ndash;-->
<!--          - #VIDEO-->
<!--        &ndash;&gt;-->

<!--        <section class="video has-bg-image" aria-label="video"-->
<!--                 style="background-image: url('./img/video-bg.png')">-->
<!--            <div class="container">-->

<!--                <div class="video-card">-->

<!--                    <div class="video-banner img-holder has-after" style="&#45;&#45;width: ; &#45;&#45;height: ;">-->
<!--                        <img th:src="@{~/img/video-banner.jpg}" width="970" height="550" loading="lazy" alt="video banner"-->
<!--                             class="img-cover">-->

<!--                        <button class="play-btn" aria-label="play video">-->
<!--                            <ion-icon name="play" aria-hidden="true"></ion-icon>-->
<!--                        </button>-->
<!--                    </div>-->

<!--                    <img th:src="@{~/img/video-shape-1.png}" width="1089" height="605" loading="lazy" alt=""-->
<!--                         class="shape video-shape-1">-->

<!--                    <img th:src="@{~/img/video-shape-2.png}" width="158" height="174" loading="lazy" alt=""-->
<!--                         class="shape video-shape-2">-->

<!--                </div>-->

<!--            </div>-->
<!--        </section>-->





<!--        &lt;!&ndash;-->
<!--          - #STATE-->
<!--        &ndash;&gt;-->

<!--        <section class="section stats" aria-label="stats">-->
<!--            <div class="container">-->

<!--                <ul class="grid-list">-->

<!--                    <li>-->
<!--                        <div class="stats-card" style="&#45;&#45;color: 170, 75%, 41%">-->
<!--                            <h3 class="card-title">29.3k</h3>-->

<!--                            <p class="card-text">Institution Enrolled</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <div class="stats-card" style="&#45;&#45;color: 351, 83%, 61%">-->
<!--                            <h3 class="card-title">32.4K</h3>-->

<!--                            <p class="card-text">Recommended</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <div class="stats-card" style="&#45;&#45;color: 260, 100%, 67%">-->
<!--                            <h3 class="card-title">100%</h3>-->

<!--                            <p class="card-text">Satisfaction Rate</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <div class="stats-card" style="&#45;&#45;color: 42, 94%, 55%">-->
<!--                            <h3 class="card-title">354+</h3>-->

<!--                            <p class="card-text">Used recently</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                </ul>-->

<!--            </div>-->
<!--        </section>-->









<!--    </article>-->
<!--</main>-->





<!--&lt;!&ndash;-->
<!--  - #FOOTER-->
<!--&ndash;&gt;-->

<!--<footer class="footer" style="background-image: url('./assets/images/footer-bg.png')">-->

<!--    <div class="footer-top section">-->
<!--        <div class="container grid-list">-->

<!--            <div class="footer-brand">-->

<!--                <a href="#" class="logo">-->
<!--                    <img th:src="@{~/img/logo-light.svg}" width="162" height="50" alt="EduWeb logo">-->
<!--                </a>-->

<!--                <p class="footer-brand-text">-->
<!--                    Use our website to store data efficiently.-->
<!--                </p>-->

<!--                <div class="wrapper">-->
<!--                    <span class="span">Add:</span>-->

<!--                    <address class="address">Softwarica College,kathmandu</address>-->
<!--                </div>-->

<!--                <div class="wrapper">-->
<!--                    <span class="span">Call:</span>-->

<!--                    <a href="tel:+011234567890" class="footer-link">+97 9869031977</a>-->
<!--                </div>-->

<!--                <div class="wrapper">-->
<!--                    <span class="span">Email:</span>-->

<!--                    <a href="mailto:info@educa.com" class="footer-link">info@educa.com</a>-->
<!--                </div>-->

<!--            </div>-->

<!--            <ul class="footer-list">-->

<!--                <li>-->
<!--                    <p class="footer-list-title">Online Platform</p>-->
<!--                </li>-->

<!--                <li>-->
<!--                    <a href="#" class="footer-link">About</a>-->
<!--                </li>-->


<!--            </ul>-->

<!--            <ul class="footer-list">-->

<!--                <li>-->
<!--                    <p class="footer-list-title">Links</p>-->
<!--                </li>-->

<!--                <li>-->
<!--                    <a href="#" class="footer-link">Contact Us</a>-->
<!--                </li>-->



<!--            </ul>-->

<!--            <div class="footer-list">-->

<!--                <p class="footer-list-title">Contacts</p>-->

<!--                <p class="footer-list-text">-->
<!--                    Enter your email address to register to our newsletter subscription-->
<!--                </p>-->

<!--                <form action="" class="newsletter-form">-->
<!--                    <input type="email" name="email_address" placeholder="Your email" required class="input-field">-->

<!--                    <button type="submit" class="btn has-before">-->
<!--                        <span class="span">Subscribe</span>-->

<!--                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>-->
<!--                    </button>-->
<!--                </form>-->

<!--                <ul class="social-list">-->

<!--                    <li>-->
<!--                        <a href="#" class="social-link">-->
<!--                            <ion-icon name="logo-facebook"></ion-icon>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="#" class="social-link">-->
<!--                            <ion-icon name="logo-linkedin"></ion-icon>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="#" class="social-link">-->
<!--                            <ion-icon name="logo-instagram"></ion-icon>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="#" class="social-link">-->
<!--                            <ion-icon name="logo-twitter"></ion-icon>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="#" class="social-link">-->
<!--                            <ion-icon name="logo-youtube"></ion-icon>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                </ul>-->

<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

<!--    <div class="footer-bottom">-->
<!--        <div class="container">-->

<!--            <p class="copyright">-->
<!--                Copyright 2022 All Rights Reserved by <a href="#" class="copyright-link">Prasna Aryal</a>-->
<!--            </p>-->

<!--        </div>-->
<!--    </div>-->

<!--</footer>-->





<!--&lt;!&ndash;-->
<!--  - #BACK TO TOP-->
<!--&ndash;&gt;-->

<!--<a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>-->
<!--    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>-->
<!--</a>-->





<!--&lt;!&ndash;-->
<!--  - custom js link-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;<script src="./assets/js/script.js" defer></script>&ndash;&gt;-->

<!--&lt;!&ndash;-->
<!--  - ionicon link-->
<!--&ndash;&gt;-->
<!--<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>-->
<!--<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>-->

<!--</body>-->

<!--</html>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    - primary meta tag
  -->
<title>EduWeb -Student Management System</title>
<meta name="title" content="EduWeb -Student Management System">

<!--
  - favicon
-->
<link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

<!--
  - custom css link
-->
--><link th:href="@{~/css/styles.css}" rel="stylesheet">
<script th:src="@{~/js/script.js}"></script>

<!--  <link rel="stylesheet" href="./assets/css/style.css">-->

<!--
  - google font link
-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
        rel="stylesheet">

<!--
  - preload images
-->
<!--  <link rel="preload" as="image" href="./assets/images/hero-bg.svg">-->
<!--  <link rel="preload" as="image" href="./assets/images/hero-banner-1.jpg">-->
<!--  <link rel="preload" as="image" href="./assets/images/hero-banner-2.jpg">-->
<!--  <link rel="preload" as="image" href="./assets/images/hero-shape-1.svg">-->
<!--  <link rel="preload" as="image" href="./assets/images/hero-shape-2.png">-->

</head>

<body id="top">

<!--
  - #HEADER
-->

<header class="header" data-header>
    <div class="container">

        <a href="#" class="logo">
            <img th:src="@{~/img/logo.svg}" width="162" height="50" alt="Eduwebogo">

            <!--        <img src="./assets/images/logo.svg" width="162" height="50" alt="EduWeb logo">-->
        </a>

        <nav class="navbar" data-navbar>

            <div class="wrapper">
                <a href="#" class="logo">
                    <img th:src="@{~/img/logo.svg}" width="162" height="50" alt="EduWeb logo">

                    <!--            <img src="./assets/images/logo.svg" width="162" height="50" alt="EduWeb logo">-->
                </a>

                <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>

            <ul class="navbar-list">

                <li class="navbar-item">
                    <a href="#home" class="navbar-link" data-nav-link>Home</a>
                </li>

                <li class="navbar-item">
                    <a href="#about" class="navbar-link" data-nav-link>About</a>
                </li>




                <li class="navbar-item">
                    <a href="#footer" class="navbar-link" data-nav-link>Contact</a>
                </li>

            </ul>

        </nav>

        <div class="header-actions">



            <a th:href="@{/login}" class="btn has-before">
                <span class="span">Try for free</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>

            <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>

        </div>

        <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
</header>





<main>
    <article>

        <!--
          - #HERO
        -->

        <section class="section hero has-bg-image" id="home" aria-label="home"
                 style="background-image: url('./img/hero-bg.svg')">
            <div class="container">

                <div class="hero-content">

                    <h1 class="h1 section-title">
                        The Best Program to <span class="span">Enroll</span> for Storage
                    </h1>

                    <p class="hero-text">
                        Record keep,update and edit your courses and student's data.

                    </p>

                    <a href="#" class="btn has-before">
                        <span class="span">Use now</span>

                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                    </a>

                </div>

                <figure class="hero-banner">

                    <div class="img-holder one" style="--width: 270; --height: 300;">
                        <img th:src="@{~/img/hero-banner-1.jpg}" width="270" height="300" alt="hero banner" class="img-cover">
                    </div>

                    <div class="img-holder two" style="--width: 240; --height: 370;">
                        <img th:src="@{~/img/hero-banner-2.jpg}" width="240" height="370" alt="hero banner" class="img-cover">
                    </div>

<!--                    <img th:src="@{~/img/hero-shape-1.svg}" width="380" height="190" alt="" class="shape hero-shape-1">-->

                    <img th:src="@{~/img/hero-shape-2.png}" width="622" height="551" alt="" class="shape hero-shape-2">

                </figure>

            </div>
        </section>





        <!--
          - #CATEGORY
        -->

        <section class="section category" aria-label="category">
            <div class="container">

                <p class="section-subtitle">Categories</p>

                <h2 class="h2 section-title">
                    Online <span class="span">Classes</span> For For Easier Management..
                </h2>

                <p class="section-text">
                    Keep track of the courses you provide.

                </p>

                <ul class="grid-list">

                    <li>
                        <div class="category-card" style="--color: 170, 75%, 41%">

                            <div class="card-icon">
                                <img th:src="@{~/img/category-1.svg}" width="40" height="40" loading="lazy"
                                     alt="Online Degree Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title">BSc Computing</a>
                            </h3>

                            <p class="card-text">
                                Our computing degree is designed to produce graduates with a high level of knowledge across a variety of computing technologies.
                            </p>

                            <!--                <span class="card-badge">7 Courses</span>-->

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 351, 83%, 61%">

                            <div class="card-icon">
                                <img th:src="@{~/img/category-2.svg}" width="40" height="40" loading="lazy"
                                     alt="Non-Degree Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title">Bsc (Hons) </a>
                            </h3>

                            <p class="card-text">
                                On this course, students will have the opportunity to learn to identify and analyse the threats posed to modern information structures and develop the knowledge and skills to be able to advise a company on how to set up secure systems.

                            </p>

                            <!--                <span class="card-badge">4 Courses</span>-->

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 229, 75%, 58%">

                            <div class="card-icon">
                                <img th:src="@{~/img/category-3.svg}" width="40" height="40" loading="lazy"
                                     alt="Off-Campus Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title">MSc Data Science</a>
                            </h3>

                            <p class="card-text">
                                The overall aim of the MSc in Data Science and Computational  Intelligence is to Deliver advanced theoretical and practical subjects  across a range of specialist areas in data science and computational intelligence.

                            </p>

                            <!--                <span class="card-badge">8 Courses</span>-->

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 42, 94%, 55%">

                            <div class="card-icon">
                                <img th:src="@{~/img/category-4.svg}" width="40" height="40" loading="lazy"
                                     alt="Hybrid Distance Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title">MSc Data Science and Computational Intelligence</a>
                            </h3>

                            <p class="card-text">
                                The aim of  Computational  Intelligence is to Deliver advanced theoretical and practical subjects  across a range of specialist areas in data science and computational intelligence.

                            </p>

                            <!--                <span class="card-badge">8 Courses</span>-->

                        </div>
                    </li>

                </ul>

            </div>
        </section>





        <!--
          - #ABOUT
        -->

        <section class="section about" id="about" aria-label="about">
            <div class="container">

                <figure class="about-banner">

                    <div class="img-holder" style="--width: 520; --height: 370;">
                        <img th:src="@{~/img/about-banner.jpg}" width="520" height="370" loading="lazy" alt="about banner"
                             class="img-cover">
                    </div>

<!--                    <img th:src="@{~/img/about-shape-1.svg}" width="360" height="420" loading="lazy" alt=""-->
<!--                         class="shape about-shape-1">-->

                    <img th:src="@{~/img/about-shape-2.svg}" width="371" height="220" loading="lazy" alt=""
                         class="shape about-shape-2">

                    <img th:src="@{~/img/about-shape-3.png}" width="722" height="528" loading="lazy" alt=""
                         class="shape about-shape-3">

                </figure>

                <div class="about-content">

                    <p class="section-subtitle">About Us</p>

                    <h2 class="h2 section-title">
                        Over 10 Years in <span class="span">Data Storage</span>  for easier Management
                    </h2>

                    <p class="section-text">
                        Use our site to store, manage and upkeep your students, courses data with simple and minimalistic student management system.

                    </p>

                    <ul class="about-list">

                        <li class="about-item">
                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                            <span class="span">Minimalistic Navigation</span>
                        </li>

                        <li class="about-item">
                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                            <span class="span">No data loss</span>
                        </li>

                        <li class="about-item">
                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                            <span class="span">Lifetime Access</span>
                        </li>

                    </ul>

                    <img th:src="@{~/img/about-shape-4.svg}" width="100" height="100" loading="lazy" alt=""
                         class="shape about-shape-4">

                </div>

            </div>
        </section>







        </ul>

<!--        <a href="#" class="btn has-before">-->
<!--            <span class="span">Browse more courses</span>-->

<!--            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>-->
<!--        </a>-->

        </div>
        </section>





        <!--
          - #VIDEO
        -->

        <section class="video has-bg-image" aria-label="video"
                 style="background-image: url('./assets/images/video-bg.png')">
            <div class="container">

                <div class="video-card">

                    <div class="video-banner img-holder has-after" style="--width: ; --height: ;">
                        <img th:src="@{~/img/video-banner.jpg}" width="970" height="550" loading="lazy" alt="video banner"
                             class="img-cover">

                        <button class="play-btn" aria-label="play video">
                            <ion-icon name="play" aria-hidden="true"></ion-icon>
                        </button>
                    </div>

                    <img th:src="@{~/img/video-shape-1.png}" width="1089" height="605" loading="lazy" alt=""
                         class="shape video-shape-1">

                    <img th:src="@{~/img/video-shape-2.png}" width="158" height="174" loading="lazy" alt=""
                         class="shape video-shape-2">

                </div>

            </div>
        </section>





        <!--
          - #STATE
        -->

        <section class="section stats" aria-label="stats">
            <div class="container">

                <ul class="grid-list">

                    <li>
                        <div class="stats-card" style="--color: 170, 75%, 41%">
                            <h3 class="card-title">29.3k</h3>

                            <p class="card-text">Student Enrolled</p>
                        </div>
                    </li>

                    <li>
                        <div class="stats-card" style="--color: 351, 83%, 61%">
                            <h3 class="card-title">32.4K</h3>

                            <p class="card-text">Recommended</p>
                        </div>
                    </li>

                    <li>
                        <div class="stats-card" style="--color: 260, 100%, 67%">
                            <h3 class="card-title">100%</h3>

                            <p class="card-text">Satisfaction Rate</p>
                        </div>
                    </li>

                    <li>
                        <div class="stats-card" style="--color: 42, 94%, 55%">
                            <h3 class="card-title">354+</h3>

                            <p class="card-text">Used Recently</p>
                        </div>
                    </li>

                </ul>

            </div>
        </section>








        </div>
        </section>

    </article>
</main>





<!--
  - #FOOTER
-->

<footer class="footer"  id="footer" style="background-image: url('./assets/images/footer-bg.png')">

    <div class="footer-top section">
        <div class="container grid-list">

            <div class="footer-brand">

                <a href="#" class="logo">
                    <img th:src="@{~/img/logo-light.svg}" width="162" height="50" alt="EduWeb logo">
                </a>

                <p class="footer-brand-text">
                    Use our website to store data efficiently.

                </p>

                <div class="wrapper">
                    <span class="span">Add:</span>

                    <address class="address">Softwarica College,kathmandu</address>
                </div>

                <div class="wrapper">
                    <span class="span">Call:</span>

                    <a href="tel:+011234567890" class="footer-link">+97 9869031977</a>
                </div>

                <div class="wrapper">
                    <span class="span">Email:</span>

                    <a href="mailto:info@eduweb.com" class="footer-link">info@eduweb.com</a>
                </div>

            </div>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Online Platform</p>
                </li>

                <li>
                    <a href="#" class="footer-link">About</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Courses</a>
                </li>



            </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Links</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Contact Us</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Gallery</a>
                </li>



                <li>
                    <a href="#" class="footer-link">Sign In/Registration</a>
                </li>



            </ul>

            <div class="footer-list">

                <p class="footer-list-title">Contacts</p>

                <p class="footer-list-text">
                    Enter your email address to register to our newsletter subscription
                </p>

                <form action="" class="newsletter-form">
                    <input type="email" name="email_address" placeholder="Your email" required class="input-field">

                    <button type="submit" class="btn has-before">
                        <span class="span">Subscribe</span>

                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                    </button>
                </form>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <p class="copyright">
                Copyright 2022 All Rights Reserved by <a href="#" class="copyright-link">codewithsadee</a>
            </p>

        </div>
    </div>

</footer>





<!--
  - #BACK TO TOP
-->

<a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
</a>





<!--
  - custom js link
-->
<script src="./assets/js/script.js" defer></script>

<!--
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>